.Rproj.user
.Rhistory
.RData
.Ruserdata
thispatientdoesnotexist.Rproj
.DS_Store
etc/output
etc/faces
etc/output/metadata
etc/ccsr_crosswalks
etc/ccir_crosswalks
etc/icd10_freqs
etc/output/csv
etc/summary_tables
etc/synthea-with-dependencies.jar
